<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{pageTitle}}</title>
</head>

<body>
  <h1>About Page</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, saepe facilis doloribus animi suscipit placeat labore omnis,
    laudantium praesentium maiores aspernatur quasi facere ad culpa iure deserunt, hic enim voluptatibus.</p>
  <footer>
    <p>&copy; {{currentYear}}</p>
  </footer>
</body>

</html>